@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('https://www.linkpicture.com/q/655338c996b7fc0b1c0a7e8df5c29c7d.jpg'), url("https://www.linkpicture.com/q/100-50-15.png");
    background-position: top;
    background-size: cover;
    transition: all ease-in-out 0.3s;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    background-repeat: no-repeat;
    overflow-y: auto;
    width: 1920px;

    overflow-x: hidden;
}
.fake{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('https://www.linkpicture.com/q/655338c996b7fc0b1c0a7e8df5c29c7d.jpg'), url("https://www.linkpicture.com/q/100-50-15.png");
    background-position: top;
    z-index: 1;
    height: 103%;
    width: 103%;
    margin-top: -3%;
    margin-left: -3%;
    position: absolute;
    background-size: cover;
    
    
}
.nav{
    z-index:2;
}

body{
    background-color: #270015;
    background-image: url("https://www.linkpicture.com/q/100-50-15.png");
    background-size: auto;
    background-repeat: repeat;
}

.navdc {
    font-size: 6vmin;
    font-family: 'Amatic SC';
    color: #270015;
    text-decoration: none;
    z-index:2;
    margin-top: 3%;
    margin-left: 5%;
    position: absolute;
}

.navd1 {
    color: #ffffff;
}

.am {
    font-size: 15vmin;
    font-family: 'Amatic SC';
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    margin-left: 10%;
    z-index:2;
}

.home {
    margin-top: 9%;
}

.work {
    margin-top: 19%;
}

.about {
    margin-top: 29%;
}

.info {
    margin-top: 39%;
}

a {
    text-decoration: none;
}

#navder {
    color: #270015;
}

/* #abb1{ */
/* display: none; */
/* } */
.ab3 {
    display: grid;
    border-color: #270015;
    border-width: 2px;
}

.aboutmein1 {
    width: 20px;
    margin-right: 5%;
    z-index:2;
}

.aboutmein2 {
    width: 30px;
    margin-right: 5%;
    z-index:2;

}

.aboutmein3 {
    width: 45px;
    margin-right: 5%;
    z-index:2;

}

.ab2 {
    margin: 4.5% auto auto auto;
    display: inline-block;
    position: absolute;
    right: 5%;
    width: 60px;
    cursor: pointer;
    z-index:2;
}

#toggle {
    display: none;
    cursor: pointer;
}

.transition2 {

    animation-duration: .25s;
    animation-name: slidein2;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-delay: 0ms;
    overflow-x: hidden;
    height: 100vh;
    /* overflow-y: hidden; */
    background-image: url("https://www.linkpicture.com/q/p118.png");
    z-index:2;
}

.transition1 {

    animation-duration: .25s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-delay: 0ms;
    overflow-x: hidden;
    height: 100vh;
    /* overflow-y: hidden; */
}



.ab4 {
    display: none;
}


.ab5 {
    transform: rotate(45deg);
    animation-name: rotate1;
    animation-delay: 0ms;
    animation-duration: 500ms;
    z-index:2;

}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(15deg);
    }

    60% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

/* .uab5 {
    transform: rotate(0deg);
    animation-name: unrotate1;
    animation-delay: 0ms;
    animation-duration: 500ms;
/* }

@keyframes unrotate1 {
    0% {
        transform: rotate(45deg);
    }

    30% {
        transform: rotate(30deg);
    }

    60% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
} */

.ab6 {
    transform: rotate(135deg);
    animation-name: rotate2;
    animation-delay: 0ms;
    animation-duration: 500ms;
}

@keyframes rotate2 {
    0% {
        transform: rotate(180deg);
    }

    30% {
        transform: rotate(165deg);
    }

    60% {
        transform: rotate(150deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

@keyframes slidein2 {
    0% {
        margin-left: 100%;
        width: 300%;
        background-image: url("https://www.linkpicture.com/q/p112.png");
    }

    10% {
        margin-left: 100%;
        width: 300%;
        background-image: url("https://www.linkpicture.com/q/p112.png");
    }

    20% {
        margin-left: 100%;
        width: 300%;
        background-image: url("https://www.linkpicture.com/q/p113.png");
    }

    30% {
        margin-left: 100%;
        width: 300%;
        background-image: url("https://www.linkpicture.com/q/p114.png");
    }

    50% {
        margin-left: 100%;
        width: 300%;
        background-image: url("https://www.linkpicture.com/q/p115.png");
    }

    65% {
        margin-left: 100%;
        width: 300%;
        background-image: url("https://www.linkpicture.com/q/p116.png");
    }

    80% {
        margin-left: 100%;
        width: 300%;
        background-image: url("https://www.linkpicture.com/q/p117.png");
    }

    100% {
        background-image: url("https://www.linkpicture.com/q/p118.png");
    }
}




@keyframes slidein {
    0% {
        margin-left: 100%;
        width: 300%;
        /* background-image: url("https://www.linkpicture.com/q/p112.png"); */
    }

    10% {
        margin-left: 100%;
        width: 300%;
        /* background-image: url("https://www.linkpicture.com/q/p112.png"); */
    }

    20% {
        margin-left: 100%;
        width: 300%;
        /* background-image: url("https://www.linkpicture.com/q/p113.png"); */
    }

    30% {
        margin-left: 100%;
        width: 300%;
        /* background-image: url("https://www.linkpicture.com/q/p114.png"); */
    }

    50% {
        margin-left: 100%;
        width: 300%;
        /* background-image: url("https://www.linkpicture.com/q/p115.png"); */
    }

    65% {
        margin-left: 100%;
        width: 300%;
        /* background-image: url("https://www.linkpicture.com/q/p116.png"); */
    }

    80% {
        margin-left: 100%;
        width: 300%;
        /* background-image: url("https://www.linkpicture.com/q/p117.png"); */
    }

    100% {
        /* background-image: url("https://www.linkpicture.com/q/p118.png"); */
    }
}

.am {
    display: none;
}

.am2 {
    display: block;
}

.am:hover {
    font-size: 16vmin;
    margin-left: 11%;
}

.greeting1 {
    font-family: 'Amatic SC';
    font-size: 10vmin;
    margin-top: 21%;
    margin-left: 24%;
    position: absolute;
    z-index:2;
    color: #fafafa;
}

.name12 {
    font-family: 'Amatic SC';
    font-size: 12vmin;
    margin-top: 20%;
    margin-left: 36%;
    position: absolute;
    z-index:2;
    color: aliceblue;
}

.profession {
    font-family: "Amatic SC";
    font-size: 7vmin;
    margin-top: 28%;
    margin-left: 33%;
    z-index:2;
    position: absolute;
    color: aliceblue;
}

/* .mainBodyInfo{
    margin-top: 5%;
    margin-left: 2%;
} */

.ungreeting1 {
    display: none;
}

.unnaming {
    display: none;
}

.unprofession {
    display: none;
}

.scrolltext1 {
    /* margin-top: 40%; */
    /* margin-left:90%; */
    transform: rotate(90deg);
    font-family: "Amatic SC";
    font-size: 4vmin;
    color: #ffffff;
}

/* .theline{
    margin-top:50%;
    margin-left:90%;
    transform: rotate(90deg);
    width:400px;
    color:#ffe2e2;
    display: inline-block;

} */

.scrolldown {
    display: flex;
    margin-top: 42%;
    position: absolute;
    margin-left: 45%;
    z-index: 2;
}

/* .scrollhr{
    transform: rotate(90deg);
} */

.unscroll1 {
    display: none;
}

.fa-brands {
    color: white;
    font-size: 3vmin;
    padding-right: 50px;

}

.socials1 {
    position: absolute;
    margin-left: 73%;
    margin-top: 45%;
    z-index:2;
}

.fa-brands:hover {
    font-size: 5vmin;
}


.tyu1 {
    display: none;
}

.am:hover {
    cursor: pointer;
}

#aminput {
    display: none;
}

.test1 {
    display: block;
}

.night1 {
    font-size: 3vmin !important;
    margin-top: 22%;
    position: absolute;
    right: 250% !important;
}


.ab10 {
    display: none;
}

.night1:hover {
    cursor: pointer;
}

.tog1 {
    display: block;
}

.m1a {
    height: auto;
    width: 103%;
    margin-left: -1%;
    margin-top: 55%;
    position: absolute;
    z-index: 2;
    /* background: linear-gradient(to bottom ,#270015 ,#ff4e26);
     */
    background-color: #270015;
    background-image: url("https://www.linkpicture.com/q/100-50-15.png");
    background-size: auto;
    background-repeat: repeat;
}

.aboutme11 {
    font-size: 8vmin;
    color: aliceblue;
    margin-top: 12%;
    margin-left: 12%;
    font-family: 'Amatic SC';
    
}

.hr11 {
    width: 70%;
    border-color: aliceblue;
    border-width: 1px;
    display: block;
}

.aboutme22 {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Amatic SC';
    margin-left: 12%;
    margin-right: 60%;
    margin-top: 3%;
    align-items: right;

}

.resume1 {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Amatic SC';
    margin-left: calc(44% + 8px);
    margin-top: 3%;
    /* text-decoration: underline ; */
    margin-right: calc(41% + 7px);
    position: absolute;
}

.resume1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.picop {
    width: 280px;
    height: 300px;
    margin-left: 65%;
    margin-top: -17%;
    display: flex;

}

@media (min-width:1700px) {
    .picop {
        margin-top: -20%;
        width: 350px;
        height: 380px;
    }

    .aboutme22 {
        font-size: 45px;

    }
}

.p1 {
    display: inline-block;
}

.p1:hover {
    cursor: pointer;
    color: #ff4e26;
}

.m1b {
    background-image: url("https://www.linkpicture.com/q/313131313131231231.jpg");
    /* background-size: 111%; */
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fade1;
    animation-duration: 500ms;
}

@keyframes fade1 {
    0% {
        opacity: 100%;
        background-image: url("https://www.linkpicture.com/q/313131313131231231.jpg");
    }

    30% {
        opacity: 100%;
        background-image: url("https://www.linkpicture.com/q/313131313131231231.jpg");
    }

    66% {
        opacity: 100%;
        background-image: url("https://www.linkpicture.com/q/313131313131231231.jpg");
    }

    100% {
        opacity: 100%;
        background-image: url("https://www.linkpicture.com/q/313131313131231231.jpg");
    }
}

.d1b {
    background-image: url("https://www.linkpicture.com/q/0ecdec4a3c9fd2e87172bf92c21af80e-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.s1b {
    background-image: url("https://www.linkpicture.com/q/mountain-sunset-40gdcqdwvo1j9il2-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.scrollhr {
    transform: rotate(90deg);
    width: 200px;
    color: #fafafa;
    position: absolute;
    margin-top: calc(52%);
    margin-left: calc(40% + 6px);
    z-index: 3;
    border :solid 1px #ffffff;
    opacity: 50%;

}

.qh {
    position: absolute;
    z-index: 2;
    margin-top: 4%;
    margin-left: 43%;
    color: white;
    font-family: 'Amatic SC';
    font-size: 3vmin;
}

.aboutme11 {
    position: relative;
}

.qhr {
    transform: rotate(90deg);
    color: #ffffff;
    width: 150px;
    margin-top: 11%;
    margin-left: calc(42% - 6px);
}

.mq {
    color: white;
    font-size: 4vmin;
    font-family: 'Amatic SC';
    margin-top: 9%;
    margin-left: 30%;

}

.aq {
    font-family: monospace;
    font-size: 2vmin;
    color: whitesmoke;
    margin-top: 1%;
    margin-left: 65%;
}

.qhr2 {
    transform: rotate(90deg);
    color: #ffffff;
    width: 200px;
    margin-top: calc(7% + 25px);
    margin-left: calc(40% + 4px);
}

.fa-quote-left {
    color: #fafafa;
    font-size: 15vmin;
    margin-left: 15%;
    margin-top: -20%;
    position: absolute;
    opacity: 50%;
}

.fa-quote-right {
    color: #fafafa;
    font-size: 15vmin;
    margin-left: 80%;
    margin-top: -3%;
    position: absolute;
    opacity: 50%;
}

.box1{
    height: 30px;
    width: 140px;
    border: solid 2px #ffffff;
    border-radius: 0px 0px 0px 150px ;
    border-color: transparent transparent #fff #fff;
    margin-top: calc(3% + 16px);
    margin-left: calc(46% + 2px);
    position:  absolute;
    opacity: 50%;
}

.box11{
    height: 30px;
    width: 50px;
    border: solid 2px #ffffff;
    border-radius: 0px 150px 0px 0px ;
    position: absolute;
    margin-top: calc(4% + 28px);
    margin-left: calc(53% + 25px);
    opacity: 50%;
    border-color: #fafafa #fff transparent transparent;
}

.box2{
    height: 30px;
    width: 50px;
    border: solid 2px #ffffff;
    border-radius: 0px 0px 0px 150px ;
    position: absolute;
    margin-top: calc(0% + 19px);
    margin-left: calc(37% + 5px);
    border-color:transparent transparent #fff #fff;
    opacity: 50%;
}

.box22{
    height: 30px;
    width: 100px;
    border: solid 2px #ffffff;
    border-radius: 0px 150px 0px 0px ;
    position: absolute;
    margin-top: calc(0% + 47px);
    margin-left: calc(40% + 4px);
    border-color: #fff #fff transparent transparent;
    opacity: 50%;
}

.qhr{
    opacity: 50%;
}

.qhr2{
    opacity: 50%;
}

.box3{
    height: 30px;
    width: 400px;
    border: solid 2px #ffffff;
    border-radius: 0px 0px 150px 0px ;
    position: absolute;
    margin-top: calc(5% + 7px);
    margin-left: calc(22% + 0px);
    border-color: transparent #fff #fff transparent;
    opacity: 50%;
}
.box33{
    height: 40px;
    width: 80px;
    border: solid 2px #ffffff;
    border-radius: 150px 0px 0px 0px ;
    position: absolute;
    margin-top: calc(7% + 2px);
    margin-left: calc(17% + 5px);
    border-color:  #fff  transparent transparent #fff;
    opacity: 50%;
}
.rowmid{
    transform: rotate(90deg);
    color: white;
    opacity: 50%;
    width: 300px;
    margin-left: calc(37% + 5px);
    position: absolute;
    margin-top: -13%;
}